{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Suivre des utilisateurs</h2>
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label>Sélectionner un utilisateur</label>
            {{ form.followed_user }}
            {% csrf_token %}
        </div>
        <button class="btn btn-success" type="submit">S'abonner</button>
    </form>

    <div class="container-fluid mx-auto">
        <h3>Mes abonnements</h3>
        <table class="table-hover table-bordered">
            {% for sub in follows %}
                    {% if sub.user == request.user %}
                        <tr><td>{{ sub.followed_user }}</td></tr>  
                    {% endif %}
            {% endfor %}
        </table>
    </div>

    <div class="container-fluid mx-auto">
        <h3>Mes abonné(e)s</h3>
        <table class="table-hover table-bordered">
            {% for sub in follows %}
                    {% if sub.followed_user == request.user %}
                        <tr><td>{{ sub.user }}</td></tr>  
                    {% endif %}
            {% endfor %}
        </table> 
    </div>
{% endblock content %}