{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="container-fluid" style="text-align: center; padding: 1%;">
        <a href="/newticket/">
            <button class="btn btn-outline-info">
                <i class="fa fa-plus-square"></i>
                Demander une critique
            </button>
        </a>
        <a href="/newreview/">
            <button class="btn btn-outline-warning">
                <i class="fa fa-plus-square"></i>
                Créer une critique
            </button>
        </a>
    </div>



    {% for item in feed %}
    {% if item.ticket %}
    <div class="card border-light mb-3">
        <div class="card-header">
            <p class="font-italic">Publié par {{ item.user }} en réponse à {{ item.ticket.user }} le
                {{ item.time_created }}</p>
            <h4 class="card-title text-center">{{ item.headline }}</h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{ item.body }}</p>
        </div>
        <div class="card">
            <div class="card-header">
                <p class="font-italic">Publié par {{ item.ticket.user }} le {{ item.ticket.time_created }}</p>
                <h4 class="card-title text-center">{{ item.ticket.title }}</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="card-text">{{ item.ticket.description }}</p>
                    </div>
                    <div class="col">
                        {% if item.ticket.image %}
                        <img src="{{ item.ticket.image.url }}" alt="img" style="max-width: 720px;max-height: 1280px;">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer">

            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
    {% else %}
    <div class="card border-light mb-3">
        <div class="card-header">
            <p class="font-italic">Publié par {{ item.user }} le {{ item.time_created }}</p>
            <h4 class="card-title text-center">{{ item.title }}</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p class="card-text">{{ item.description }}</p>
                </div>
                <div class="col">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" alt="img" style="max-width: 720px;max-height: 1280px;">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form action="{% url 'review' item.id %}" method="post">{% csrf_token %}
                <button class="btn btn-outline-info">
                    <i class="fa fa-pen-fancy"></i>
                    Créer une critique
                </button>
            </form>

        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>
{% endblock content %}