{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% for item in feed %}
    {% if item.ticket %}
    <div class="card border-light mb-3">
        <div class="card-header">
            <p class="font-italic">Publié par {{ item.user }} en réponse à {{ item.ticket.user }} le
                {{ item.time_created }}</p>
            <h4 class="card-title text-center">{{ item.headline }}</h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{ item.body }}</p>
        </div>
        <div class="card">
            <div class="card-header">
                <p class="font-italic">Publié par {{ item.ticket.user }} le {{ item.ticket.time_created }}</p>
                <h4 class="card-title text-center">{{ item.ticket.title }}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">{{ item.ticket.description }}</p>
            </div>
            <div class="card-footer">

            </div>
            <div class="card-footer bg-primary">
                <form action="{% url 'review' item.ticket.id item.id %}" method="get">{% csrf_token %}
                    <button class="btn btn-info">
                        <i class="fa fa-edit"></i>
                        Modifier
                    </button>
                </form>
                <button class="btn btn-danger js-delete" item_type="review" item_id="{{ item.id }}">
                    <i class="fa fa-trash-alt"></i>
                    Supprimer
                </button>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card border-light mb-3">
        <div class="card-header">
            <p class="font-italic">Publié par {{ item.user }} le {{ item.time_created }}</p>
            <h4 class="card-title text-center">{{ item.title }}</h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{ item.description }}</p>
        </div>
        <div class="card-footer">
            <form action="{% url 'ticket' item.id %}" method="get">{% csrf_token %}
                <button class="btn btn-info">
                    <i class="fa fa-edit"></i>
                    Modifier
                </button>
            </form>


            <button class="btn btn-danger js-delete" item_type="ticket" item_id="{{ item.id }}">
                <i class="fa fa-trash-alt"></i>
                Supprimer
            </button>

        </div>
    </div>
    {% endif %}
    {% endfor %}
    <script src="{% static 'JS\script.js' %}"></script>
</div>
{% endblock content %}