<div id="newTicket" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Ticket</h1>
            </div>    
            <div class="modal-body" >
                <div>
                    <form method="post">
                        <div class="form-group"></div>
            
                            {{ form.as_p }}
                            {% csrf_token %}
                            
                        </div>
                    <button class="btn btn-success" type="submit">Poster</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>

    